[Desktop Entry]
# TRANSLATORS: Set by meson, do not translate
Name=@app_name@
GenericName=Mastodon Client
Comment=Your window to the social world
# TRANSLATORS: Search terms to find this application, separated by semicolons. The list must end with a semicolon!
Keywords=mastodon;
Exec=cawbird %U
Type=Application
Icon=@app_id@
Categories=Network;GTK;
# DBusActivatable=true
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
# Custom uri scheme to receive authentication callbacks
MimeType=x-scheme-handler/cawbird