/*
 * Removes the underline from selected links.
 */
link.hashtag, link.mention, link.weblink {
  text-decoration: none;
}

/*
 * Styles for the indicator box, using a pill.
 */
box.indicator {
  padding: 6px;
  border-radius: 15px;
}
box.indicator > image {
  margin-left: 3px;
  margin-right: 3px;
}

/**
 * An animated gradient, used to display a loading media.
 */
.loading-media {
  background: linear-gradient(90deg, alpha(@dark_1, 0.25), alpha(@light_2, 0.5), alpha(@dark_1, 0.25));
  background-size: 200% 100%;
  animation: animated-loading 5s linear infinite;
}

@keyframes animated-loading {
  0% {
    background-position:0% 50%;
  }
  50% {
    background-position:100% 50%;
  }
  100% {
    background-position:0% 50%;
  }
}

/**
 * Fades out an element (used to hide .loading-media).
 */
.fade-out {
  animation: fading-out 1s forwards;
}

@keyframes fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
